{% extends "layout.html" %}
{% block content %}
	<h1>Sửa sản phẩm </h1>
	<hr>
	
	<div class="container">
		<form action="/update/" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="id" value="{{ dulieu.id }}">
		<fieldset class="form-group">
			<label for="formGroupExampleInput">Tên sản phẩm</label>
			<input type="text" name="ten" class="form-control" value="{{ dulieu.ten }}">
		</fieldset>
		<fieldset class="form-group">
			<label for="formGroupExampleInput2">giá :</label>
			<input type="text" name="gia" class="form-control" value="{{ dulieu.gia }}" >
		</fieldset>
		<fieldset class="form-group">
			<label for="formGroupExampleInput2">Mô tả :</label>
			<textarea type="text" name="mota" class="form-control">{{ dulieu.mota }}</textarea>
		</fieldset>
		<fieldset class="form-group">
			<label for="formGroupExampleInput2">Danh mục :</label>
			<select class="custom-select" name="cate_id">
			{% for cate in list %}
			  <option {% if dulieu.cate_id == cate.id %} selected 
			{% endif %} value="{{ cate.id }}">{{ cate.ten }}</option>
			{% endfor %}
			</select>
		</fieldset>
		<fieldset class="form-group">
			<label for="formGroupExampleInput2">Ảnh :</label>
			<img src="/home/media/{{ dulieu.anh }}" width="100px" height="100px" alt="">
			<input type="file" name="anh" class="form-control">
			<input type="text" name="anhcu" value="{{ dulieu.anh }}">
		</fieldset>
		<input type="submit" class="btn btn-success" name="them" value="Cập nhật">
		<input type=button class="btn btn-info" value="Quay lại" onClick="javascript:history.go(-1);">

	
	</form>
	</div>
{% endblock %}